*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.grid-container{
    width: 100%;
    height: 100vh;
    background-color: blue;
    display: grid;
    gap: 5px;
    grid-template-areas: 
    "h1 h1 h1 h1"
    "h2 h2 h3 h4"
    "h2 h2 h7 h7"
    "h6 h6 h5 h5"; 
}
@media screen and (max-width: 770px) {
    .grid-container{
        grid-template-areas: 
        "h1 h1 h1"
        "h2 h3 h4"
        "h2 h5 h6"
        "h2 h7 h7";
    }
}

@media screen and (max-width: 320px) {
    .grid-container{
        grid-template-areas: 
        "h1"
        "h2"
        "h3"
        "h4"
        "h5"
        "h6"
        "h7";

    }
}
.grid-item{
    min-height: 100px;
    background-color: pink;
    
}
.item1{
    grid-area: h1;
}
.item2{
    grid-area: h2;
}
.item3{
    grid-area: h3;
}
.item4{
    grid-area: h4;
}
.item5{
    grid-area: h5;
}
.item6{
    grid-area: h6;
}
.item7{
    grid-area: h7;
}