.header{
    background-color: aqua;
    line-height: 200px;
    width: 100%;
    margin-bottom: 1%;
}
.nav{
    background-color: black;
    line-height: 200px;
    width: 100%;
    margin-bottom: 1%;
    color: aliceblue;
}
.sec1{
    background-color: aquamarine;
    line-height: 400px;
    width: 50%;
    float: left;
    margin-bottom: 1%;
}
.sec2{
    background-color: blue;
    line-height: 400px;
    width: 50%;
    float: left;
    margin-bottom: 1%;
}
.footer{
    background-color: blueviolet;
    line-height: 200px;
    width: 100%;

}