.main{
    background-color: yellow;
    height: 1200px;
    width: 1000px;
}

.hb{
    background-color: orange;
    height: 150px;
    width: 1000px;
}
.bb{
    /*background-color: black;
    color: antiquewhite;*/
    image-resolution: 400*100px;
    height: 100px;
    width: 400px;
    float: left;
}
.sm{
    background-color: lightskyblue;
    height: 50px;
    width: 600px;
    float: left;
    
}
.mb{
    background-color: lightcoral;
    height: 50px;
    width: 600px;
    float: left;
}
.cont{
    background-color: lawngreen;
    height: 550px;
    width: 1000px;
}
.img{
    background-color: green;
    height: 500px;
    width: 1000px;
    align-content: center;
}
.ssb{
    background-color: blueviolet;
    height: 400px;
    width: 1000px;
}
.bootbar{
    background-color: brown;
    height: 350px;
    width: 250px;
    float: left;
}
.cloud{
    background-color: lightslategray;
    height: 350px;
    width: 250px;
    float: left;
}
.ml{
    background-color: lightgoldenrodyellow;
    height: 350px;
    width: 250px;
    float: left;
}
.dsa{
    background-color: lightpink;
    height: 350px;
    width: 250px;
    float: right;
}
.footer{
    background-color: violet;
    height: 100px;
    width: 1000px;
    text-align: center;
}
.sm ul li{
    float: left;
    list-style: none;
    list-style-position: none;
    display: block;
    
    background-color: black;
    color: aliceblue;
    height: 30px;
    width: 130px;
    margin-left: 10px;
    margin-right: 0px;

}
.sm ul li a{
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    
}
.mb ul li{
    float: left;
    list-style: none;
    list-style-position: none;
    display: block;
    
    background-color: black;
    color: aliceblue;
    height: 30px;
    width: 130px;
    margin-left: 10px;
    margin-right: 0px;
}